# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Environments & credentials
.env
.aws/
credentials
*.pem

# Data files (Do not commit large datasets to GitHub)
ingestion/*.csv
ingestion/*.json

# IDE and System Files
.vscode/
.idea/
.DS_Store
